/* GENERAL SETTING */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --cream: hsl(30, 38%, 92%);
  --dark-cyan: hsl(158, 36%, 37%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --very-dark-blue: hsl(212, 21%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--Dark-grayish-blue);
  background-color: var(--cream);
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

/* CARD SECTION */
.card {
  max-width: 42rem;
  width: 100vh;
  background-color: var(--white);
  border-radius: 10px;
  margin: 10% auto;
  padding-bottom: 1rem;
}

.mobile-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.desktop-img {
  display: none;
}

.product-info {
  margin: 3rem;
}

h3,
h1,
.product-content p,
.product-price {
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 4rem;
  color: var(--very-dark-blue);
  line-height: 1;
}

.product-content p {
  line-height: 1.6;
  font-weight: 500;
}

.product-price {
  display: flex;
  align-items: center;
}

.product-price h2 {
  color: var(--dark-cyan);
  font-family: "Fraunces", serif;
  font-size: 4rem;
}

.product-price p {
  text-decoration: line-through;
  padding-left: 2rem;
}

.shopping-cart {
  position: relative;
}

.cart {
  position: absolute;
  content: url(/images/icon-cart.svg);
  height: 2rem;
  width: 2rem;
  top: 1.6rem;
  left: 8.6rem;
}

.btn,
.btn:link,
.btn:visited {
  outline: none;
  border: none;
  text-decoration: none;
  background-color: var(--dark-cyan);
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.8rem 12rem;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: hsl(158, 34%, 30%);
}

/* DESKTOP STYLE */
@media all and (min-width: 1200px) {
  .card {
    max-width: 75rem;
    padding: 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .mobile-img {
    display: none;
  }

  .desktop-img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
  }

  h3,
  h1,
  .product-content p,
  .product-price {
    margin-bottom: 2.5rem;
  }

  h3 {
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }

  h1 {
    font-size: 4.5rem;
  }

  .cart {
    top: 1.6rem;
    left: 7rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.7rem;
    padding: 1.8rem 10rem;
  }
}
